.mainContainer{
    padding: 4%;
    display: flex;
    flex-direction: column;
}

.dateButton{
    display: flex;
    align-items: center;
}

.dateText{
    margin: 0 5px 0 0;
    font-size: 13px;
}

.headerSection{
    display: flex;
    width: 100%;
    align-items: center;
}

.title{
    font-size: 24px;
    font-weight: bold;
}

.filtersContainer{
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.filterContainer{
    display: flex;
    margin: 0 5px 0 5px;
}

.pagination{
    align-self: center;
    margin-top: 16px;
}

@media (max-aspect-ratio: 1/1) {
    .filtersContainer {
        margin-left: 0;
    }
}

@media (max-aspect-ratio: 1/1) {
    .headerSection {
        flex-direction: column;
        margin-bottom: 16px;
    }
}