:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #2B2B2B;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --global-font-family--: 'Montserrat', 'Inter', sans-serif;

  --error-color--: #df0303;
  --blue-theme-color--: #16337f;
  --blue-theme-color-hover--: #2e4d9c;
  --page-background-color--: white;

  --text-font-size--: 16px;
  --h1-title-size--: 35px;
  --h2-title-size--: 25px;
  --h3-title-size--: 20px;
  --h4-title-size--: 17px;

  --navbar-height--: 70px;

  --sidebar-width--: 135px;
  --sidebar-mobile-width--: 250px;

  --page-horizontal-padding--: 50px;
  --page-vertical-padding--: 50px;

  --page-scrollbar-color--: #b7b7b7;
  --page-scrollbar-color-hover--: #7e7e7e;
  --min-page-horizontal-padding--: 30px;
  --min-page-vertical-padding--: 30px;

  --page-inline-padding--: 60px;
  --page-block-padding--: 40px;
  --page-inline-padding-mobile--: 30px;
}

html, body, #root{
  width: 100%;
  height: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
