.tripContainer {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1.5px solid #A6A6A6;
    border-radius: 3px;
    margin-top: 10px;
}

.headerSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.arrow {
    width: 7%;
    height: 7%;
}

.placeName {
    font-size: large;
    font-weight: bold;
    margin: 0;
}

.placeAddress {
    margin: 0;
}

.infoSection {
    margin-top: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.infoBlock {
    display: flex;
    flex-direction: row;
}

.infoTitle {
    margin: 0 10px 0 0;
}

.infoDescription {
    margin: 0;
}

.joinRequest {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.joinButton {
    width: fit-content;
    margin-top: 25px;
}

.popUpTitle {
    margin: 0;
    margin-bottom: 15px;
}

.requestPopup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ratingPopup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.requestContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.requestContainerTitle {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 33%
}

.requestButtonsContainer {
    display: flex;
    gap: 2%;
}

.requestTitle {
    font-weight: 600;
}

.deleteIcon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.actionsContainer{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.button {
    width: fit-content;
    margin: 10px 10px 0 auto;
}

.acceptAll{
    white-space: nowrap;
    margin-left: -53px;
}